@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #151316;
  --secondary-color: #ffffff;
  --desc-font--color: #077708;
  --cards--Bkg-color: rgb(31, 37, 36, 0.6);
  --hoverCards-bkg--color: rgb(15, 68, 16);
  --hoverBtn-bkg--color: rgb(234, 238, 238);
  --link--font-color: rgb(4, 156, 4);
  --footer-bkg-color: rgb(0, 0, 0, 0.2);
  --h4-font-size-small: 2.375rem;
  --h4-font-size-medium: 2.5rem;
  --h4-font-size-large: 2.875rem;
}

a {
  z-index: 1000 !important;
  display: inline-block !important;
  text-align: center !important;
  position: relative !important;
  -webkit-tap-highlight-color: transparent !important;
  touch-action: manipulation !important;
}
/* 
#viewport-size {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1000;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--main-color);
  font-family: "Poppins", sans-serif;
}

.banner_container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 5em;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12.5rem;
}

header {
  background-color: rgb(21, 19, 22, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  padding: 0.625em 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.container {
  flex: 1;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.25em;
}

.decoration {
  width: 90%;
  opacity: 0.9;
}

.decoration2 {
  margin-left: 62.5em;
  margin-bottom: 23.75em;
}

.logoDepzon {
  max-width: 175px;
  transform: translate(-1rem);
}

.button {
  display: inline-block;
  border-color: transparent;
  background-color: var(--secondary-color);
  color: var(--main-color);
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  border-radius: 18px;
  cursor: pointer;
}

.signinBtn {
  width: 11.25em;
  height: 2.5em;
  padding: 8px;
  font-size: 14px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: pulseGlow 2s infinite ease-in-out;
  z-index: 1000;
}

/* .signinBtn::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(52, 152, 219, 0.3), transparent);
  opacity: 0;
  animation: glowEffect 3s infinite ease-in-out;
  z-index: 1000;
  pointer-events: none; 
} */

@keyframes pulseGlow {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.3), 0 0 16px rgba(52, 152, 219, 0.2);
  }
  50% {
    transform: scale(1.03);
    box-shadow: 0 0 12px rgba(52, 152, 219, 0.5), 0 0 24px rgba(52, 152, 219, 0.4);
  }
}
@keyframes pulseGlowTitle {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.3), 0 0 16px rgba(52, 152, 219, 0.2);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 12px rgba(52, 152, 219, 0.5), 0 0 24px rgba(52, 152, 219, 0.4);
  }
}

@keyframes glowEffect {
  0%,
  100% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.discoverMoreBtn {
  width: 12.25em;
  height: 2.5em;
  z-index: 1000;
  margin-top: 20px;
  padding: 8px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.discoverRulesBtn {
  margin-top: 0.625em;
  font-size: 0.75rem;
  padding: 0.95em;
  transition: all 0.3s ease;
}

.discoverRulesBtn1 {
  align-self: flex-start;
  width: 27.875em;
  height: 40px;
  z-index: 1000;
}

.discoverRulesBtn2 {
  width: 14.875rem;
  height: 2.5rem;
  align-self: flex-start;
  z-index: 1000;
}

.hoverBtn:hover {
  background-color: var(--hoverBtn-bkg--color);
  color: var(--main-color);
  box-shadow: 5px 5px 5px rgba(136, 144, 92, 0.3);
  scale: 1.1;
}

.hero_section {
  max-width: 500px;
  max-height: 485px;
  z-index: 10;
  margin: 8.125rem auto 20rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.hero_img {
  width: 90%;
  transition: transform 1s ease;
  transform-origin: center;
}

.hero_img:hover {
  transform: rotate(360deg) scale(1.1);
  cursor: pointer;
  border-radius: 50%;
  bottom: 10px;
}

.hero_img:hover + .hero_section_title {
  transition: all 0.32s ease;
  /*  text-shadow: 5px 5px 10px rgba(38, 132, 137, 0.3); */
  color: beige;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1), /* Ombra di base */ 4px 4px 6px rgba(0, 0, 0, 0.2),
    /* Ombra media */ 6px 6px 10px rgba(0, 0, 0, 0.3);
}

.overflow_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero_section_title {
  text-align: center;
  color: var(--secondary-color);
  font-size: 84px;
  position: absolute;
  top: 19.375rem;
  letter-spacing: 0.113rem;
  line-height: 0.9;
  transform-origin: center;
}

.hero_section_text {
  width: 41.25rem;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.031rem;
  text-align: center;
  z-index: 99;
  margin-top: 1.25rem;
}

.main_content {
  flex: 1;
  padding-bottom: 3.125rem;
  padding-top: 1.25rem;
}

.cards_container {
  max-width: 84%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem;
  margin: auto auto 7.5rem auto;
}

.card {
  flex: 1;
  max-width: 33%;
  margin: 0.625rem;
  max-height: auto;
  background-color: var(--cards--Bkg-color);
  border-radius: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-color);
  border: solid 1px rgb(255, 255, 255, 0.1);
  cursor: pointer;
  padding-right: 4px;
}

.card:hover {
  background-color: var(--hoverCards-bkg--color);
  box-shadow: 8px 8px 8px rgba(175, 172, 172, 0.1);
  scale: 1.05;
  border: none;
}

.card a {
  text-decoration: none !important;
  color: inherit;
}

.card a:hover {
  text-decoration: none;
}

.card_content_bottom {
  margin-top: 1.375rem;
  margin-left: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card_content_bottom h4 {
  font-size: var(--h4-font-size-large);
  margin-bottom: 1.6rem;
  margin-left: 1.8rem;
  margin-right: -2rem;

  font-weight: 600;
}

.arrow {
  font-size: 1.375rem;
  color: var(--secondary-color);
  transition: transform 0.3s ease;
  text-decoration: none;
}

.arrow:hover {
  color: yellow;
  scale: 1.4;
}

.card_img {
  /* height: 18.75rem; */
  height: auto;
  width: 73%;
  margin-top: 0.4rem;
  margin-right: 3.4rem;
}

.card_content_top {
  margin-top: 2.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
}

.card_content_top p {
  font-weight: 600;
}

.tournament_container {
  max-width: 84%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 1.25rem;
  margin: auto auto 7.5rem auto;
  color: white;
}

.tournament_container h4 {
  font-size: var(--h4-font-size-small);
  font-weight: 600;
  flex: 1;
  margin-bottom: 9.375rem;
}

.tournament_container_desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
  margin-left: 2.5rem;
}

.tournament_container_desc_p1 {
  font-weight: 200;
  width: 55.25rem;
  font-size: 1.25rem;
}

.tournament_container_desc_p2 {
  color: var(--desc-font--color);
  font-size: 1.475rem;
  line-height: 1.05;
}

.banner_container {
  border-radius: 14px;
  background-color: rgb(255, 255, 255, 0.03);
  max-width: 84%;
  margin: auto auto 13.75rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 20rem;
  gap: 3.25rem;
}

.banner_container_top {
  margin: auto;
  text-align: center;
}

.banner_container_top h4 {
  font-size: var(--h4-font-size-medium);
  margin-bottom: 3rem;
  font-weight: 300;
  line-height: 1.05;
  color: var(--link--font-color);
}

.banner_container_top p {
  max-width: 53.75rem;
  min-width: 30rem;
  font-size: 1.25rem;
  color: var(--secondary-color);
}

.banner_container_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

.banner_container_bottom_desc {
  width: 28.125rem;
  margin-bottom: 1.75rem;
  padding: 0;
  font-size: 20px;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  line-height: 1.3;
}

.banner_container_bottom_desc span {
  text-decoration: underline;
  font-weight: bold;
  color: var(--link--font-color);
}

.banner_container_bottom_desc span a {
  text-decoration: none;
  color: var(--link--font-color);
}

.gold_card_img {
  margin-top: 2.625rem;
}

.big_cards_container h4 {
  font-size: var(--h4-font-size-medium);
  font-weight: 600;
  line-height: 1.05;
  color: var(--secondary-color);
  text-align: center;
}

.big_cards_container_box {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.big_cards_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 84%;
  gap: 3.125rem;
  overflow: hidden;
  margin-bottom: 9.375rem;
}

.big_cards_container h4 {
  font-size: var(--h4-font-size-medium);
  font-weight: 600;
  line-height: 1.05;
  color: var(--secondary-color);
  text-align: center;
}

.big_cards_container_box {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
}

.big_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cards--Bkg-color);
  border-radius: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: solid 0.5px rgba(255, 255, 255, 0.1);
  padding-top: 45px;
  padding-left: 0;
  position: relative;
  overflow: hidden;
  flex: 1 1 48%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.big_card_img_wrapper {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.big_card_img1,
.big_card_img2 {
  width: 70%;
  height: auto;
}

.big_card p {
  margin-top: 1rem;
  color: var(--secondary-color);
  font-size: 1.3rem;
  line-height: 1.4;
  max-width: 75.5%;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
}

.big_card2 p {
  margin-top: 1rem;
  color: var(--secondary-color);
  font-size: 1.3rem;
  line-height: 1.4;
  max-width: 70%;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
}

.buy_registerBtn {
  z-index: 1000;
  width: 88%;
  padding: 0.35rem 1rem;
  background-color: var(--secondary-color);
  color: var(--main-color);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  transition: transform 0.3s, background-color 0.3s;
  position: absolute;
  bottom: 2.6rem;
  left: 50%;
  transform: translate(-50%);
}

.buy_registerBtn:hover {
  background-color: rgba(223, 223, 122, 0.9);
}

.big_card:hover {
  background-color: var(--hoverCards-bkg--color);
  box-shadow: 8px 8px 8px rgba(175, 172, 172, 0.1);
  scale: 1.01;
  border: none;
}

.rules_container {
  margin: auto;
  max-width: 88%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4.6rem 0 1.875rem 1.625rem;
}

.rules_container_right {
  margin-left: 20px;
  max-width: 64%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.rules_container h4 {
  align-self: flex-start;
  font-size: var(--h4-font-size-medium);
  font-weight: 500;
  line-height: 1.05;
  color: var(--secondary-color);
  width: 30%;
}

.rules_container_right_up {
  margin-left: 2.25rem;
  width: 84%;
  font-size: 1.45rem;
  font-weight: 300;
  line-height: 1.2;
  color: var(--secondary-color);
  word-spacing: 0;
}

.rules_container span {
  font-size: 1.375rem;
}

.rules_container_right_img {
  margin: 2.5rem 1.25rem 1.25rem 0;
  width: 42.5rem;
}

.rules_container_right_down {
  margin-left: 2.25rem;
  width: 84%;
  font-size: 1.45rem;
  font-weight: 300;
  line-height: 1.2;
  color: var(--secondary-color);
  word-spacing: 0;
}

footer {
  position: relative;
  margin: 3.125rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: white;
  padding: 1.25rem;
  background-color: var(--footer-bkg-color);
}

footer ul {
  list-style-type: none;
  margin: auto;
}

.footer_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  gap: 1.875rem;
}

.footer_links_item {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bolder;
}

.footer_logo {
  width: 8.75rem;
  margin: auto;
}

.footer_accepted-payments {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
}

.thinner_text {
  font-size: 0.875rem;
  font-family: "Archivo", serif;
  font-weight: 100;
}

.purple {
  color: rgb(192, 75, 192);
}

@media (max-width: 1340px) {
  .big_cards_container_box {
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
    align-items: center;
  }

  .banner_container {
    max-width: 80%;
  }

  .rules_container {
    max-width: 80%;
  }

  .big_card p {
    font-size: 1.3rem;
    margin-bottom: 30px;
    max-width: 86%;
  }

  .big_card2 p {
    font-size: 1.3rem;
    margin-bottom: 30px;
    max-width: 86%;
  }

  .buy_registerBtn {
    bottom: 1.7rem;
  }
}

@media (max-width: 1290px) {
  .cards_container {
    flex-direction: column;
    max-width: 100%;
  }

  .tournament_container {
    width: 76%;
  }

  .banner_container {
    max-width: 80%;
  }
}

@media (max-width: 1284px) {
  .banner_container {
    width: 70%;
  }

  .banner_container_top {
    max-width: 100%;
  }

  .banner_container_top p {
    text-align: center;
  }
}

@media (max-width: 1205px) {
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .tournament_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tournament_container h4 {
    font-size: var(--h4-font-size-small);
    font-weight: 600;
    flex: 1;
    margin-bottom: 2rem;
  }

  .tournament_container_desc {
    text-align: center;
    margin-left: 0;
  }

  .discoverRulesBtn1 {
    align-self: center;
  }

  .rules_container {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    /* text-align: center; */
  }

  .rules_container h4 {
    align-self: center;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .rules_container p {
    max-width: 80%;
  }

  .rules_container_right_up,
  .rules_container_right_down {
    margin-left: 0;
  }
}

@media (max-width: 1100px) {
  .banner_container_bottom {
    flex-direction: column;
  }

  .banner_container_bottom p {
    font-size: smaller;
  }

  .banner_container_top {
    width: 80rem;

    text-align: center;
  }

  .banner_container_top h4 {
    width: 100%;
  }

  .banner_container_top p {
    width: 100%;
  }

  .banner_container {
    padding: 10rem;
    width: 50%;
    margin: 50px auto 130px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-center;
    gap: 0;
  }

  .discoverRulesBtn2 {
    align-self: center;
  }

  .tournament_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tournament_container p {
    max-width: 50rem;
  }

  .rules_container p {
    max-width: 70%;
  }

  .big_card {
    width: 80%;
  }
}

@media (max-width: 900px) {

  a {
    transform: none !important; 
    opacity: 1 !important;
  }

  .banner_container {
    padding: 5rem;
    width: 50%;
  }

  .tournament_container p {
    width: 100%;
    flex-wrap: wrap;
    max-width: 40rem;
  }
}

@media (max-width: 750px) {
  .tournament_container p {
    max-width: 34rem;
  }

  .banner_container {
    width: 36%;
  }

  .banner_container_top {
    width: 86rem;
    text-align: center;
  }

  .banner_container_top p {
    font-size: 1rem;
    width: 1rem;
    margin-left: -50px;
  }

  .big_cards_container h4 {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  footer {
    width: 100%;
    margin: 3.125rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.325rem;
    color: white;
    padding: 1.25rem;
    background-color: var(--footer-bkg-color);
  }

  .footer_accepted-payments {
    gap: 1.5rem;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 670px) {
  .tournament_container p {
    max-width: 20rem;
  }

  .rules_container p {
    max-width: 55%;
  }

  .rules_container_right_img {
    width: 70%;
  }
}

@media (max-width: 595px) {
  .big_cards_container h4 {
    font-size: 1.6rem;
  }
  .rules_container p {
    max-width: 45%;
  }

  .rules_container h4 {
    font-size: 2rem;
  }

  .rules_container_right_img {
    width: 70%;
  }

  .banner_container_top {
    text-align: center;
  }

  .banner_container_top h4 {
    font-size: 1.65rem;
  }
  .banner_container_top p {
    font-size: 1rem;
    width: 1rem;
    margin-left: -58px;
  }

  .hero_section {
    max-width: 300px;
    max-height: 485px;
    margin: 7.125rem auto 20rem auto;
    gap: 1.1rem;
  }

  .hero_img {
    width: 100%;
  }

  .hero_section_title {
    font-size: 64px;
    top: 11.875rem;
  }

  .hero_section_text {
    width: 38.25rem;
    font-size: 1.3rem;
  }

  .footer_accepted-payments {
    gap: 1rem;
    justify-content: center;
    width: 100%;
  }

  .footer_accepted-payments img {
    width: 50px;
  }
}

@media (max-width: 500px) {
  .hero_section {
    max-width: 260px;
    max-height: 485px;
    margin: 7.125rem auto 20rem auto;
    gap: 0.6rem;
  }

  .hero_img {
    width: 100%;
  }

  .hero_section_title {
    font-size: 56px;
    top: 10.5rem;
  }

  .hero_section_text {
    width: 38.25rem;
    font-size: 1.05rem;
  }

  .footer_accepted-payments img {
    width: 40px;
  }
}
